{{#if shouldDisplay}}
    <div class="custom-search-banner">
        <div class="wrap custom-search-banner-wrap">
            <h1>{{theme-i18n "search_banner.headline"}}</h1>
            <p>{{theme-i18n "search_banner.subhead"}}</p>
            <div class="flex justify-between mt-6">
                {{mount-widget widget="search-widget"}}
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Frage
                    stellen
                </button>
            </div>
        </div>
    </div>
{{/if}}
