{{#if shouldDisplay}}
  <div class="custom-search-banner grid grid-cols-2">
    <div class="wrap custom-search-banner-wrap col-span-1">
      <h1>{{theme-i18n "search_banner.headline"}}</h1>

      <div class="flex justify-between mt-10 items-center">
        {{mount-widget widget="search-widget"}}
        <p>{{theme-i18n "search_banner.or" }}</p>
        {{mount-widget widget="create-topic"}}
      </div>
    </div>
    <div class="background-img">
    </div>
  </div>
{{/if}}


