{{#if shouldDisplay}}
  <div class="custom-search-banner ">
    <div class="wrap custom-search-banner-wrap grid grid-cols-2 gap-10">
      <h1 class="text-8xl text-[#FBFAF8] tracking-wider font-extrabold">{{{theme-i18n "search_banner.headline"}}}</h1>

      <div class="flex flex-col items-start justify-between mt-10">
        {{mount-widget widget="search-widget"}}
        <p>{{theme-i18n "search_banner.or" }}</p>
        {{mount-widget widget="create-topic"}}
      </div>
    </div>

  </div>
{{/if}}


