{{#if shouldDisplay}}
  <div class="custom-search-banner ">
    <div class="wrap custom-search-banner-wrap grid grid-cols-2 gap-10 max-w-2xl">
      <h1 class="!text-7xl font-[Inter] text-[#FBFAF8] hover:text-slate-500 tracking-wider font-extrabold">{{{theme-i18n "search_banner.headline"}}}</h1>

      <div class="flex flex-col flex-wrap content-end items-start justify-evenly mt-2">
        {{mount-widget widget="search-widget"}}
        <p>{{theme-i18n "search_banner.or" }}</p>
        {{mount-widget widget="create-topic"}}
      </div>
    </div>

  </div>
{{/if}}


